@import url('https://fonts.cdnfonts.com/css/product-sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    -moz-box-shadow:0 5px 5px rgba(71, 71, 71, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(85, 83, 83, 0.75);
    box-shadow: 0 5px 5px rgba(80, 79, 79, 0.75);
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Product Sans', sans-serif;    
}

.navbar-name {
    font-size: 2.6rem;
    margin-left: 10px;
    font-weight: bold;
    color: #145DA0;
    letter-spacing: 1px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-right: 1%;
}

.navbar-links li {
    list-style: none;
    padding: 1rem 1rem 0rem;
    font-family: 'Product Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #145DA0;
    background-color: rgb(255, 255, 255);
}

.nav-link {
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-link:hover{
    color:#003060;
    transition: 0.7s;
}



.navburger{
    display: none;
}

.navburger div {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  @media screen and (max-width: 1400px){
    .navbar-links{
        width: 70%;
        opacity: 0.95;
    }

    .navbar-links li{
        margin: 0rem 0.5rem 0rem 0rem;  }
    
  }

  @media screen and (max-width: 980px){
    body{
        overflow-x: hidden;

    }
    .navbar-links {
        position: absolute;
        left: -100%;
        top: 100%;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navbar-links li {
        margin: 0px;
        background-color:rgb(255, 255, 255);
        opacity: 1;
    }

    .navburger {
        display: block;
        cursor: pointer;
        width: 10%;
    }

    .navbar-active {
        transform: translateX(100%)
    }

    .toggle .burger-line2{ 
        opacity: 0;
    }  
    .toggle .burger-line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .burger-line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
  }

  .hover-ani {
    display: inline-block;
    position: relative;
    color: #0087ca;

  }
  
  .hover-ani::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-ani:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media screen and (max-width: 380px){
    .nav-links li {
        font-size: 11px;
        letter-spacing: 1px;
    }
  }

  .slide-in-top {
	-webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }