/* The Modal (background) */
.projects-modals {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* Centers all components */
    display: flex;
    align-items: center;
    justify-content: center;  
}

  .modal-container {
    position: relative;
    border-radius: 10px;
    min-height: 700px;
    width: 500px;
    margin: 5%;
    background-color: white;
  }
  
  .modal-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .modal-image img {
    border-radius: 10px;
    width: 100%;
    height: 40%;
    filter: drop-shadow(0px 0.2vw 0.2vw #00000083);
  }
  .modal-desc{
    min-height: 190px;
    max-height: 190px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    /* border: 1px solid; */
  }

.modal-header button {
    position:absolute;
    top: 1px;
    right: 10px;
    font-size: 28px;
    color: white;
    background-color: transparent;
    border: none;
    z-index: 1;
}
.modal-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    /* border: 1px solid; */
}
.modal-link a {
    border: 1px solid #003060;
    background: #003060;
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
}

/* Modal Content/Box */
.modal-title {
    background-color: #fefefe;
    color: #003060;
    text-align: center;
    width: 100%;
    height: 100px;     /* updated */
    padding: 0px 10px 0px 10px;
    /* border: 1px solid; */
}


.modal-open {
    display: flex;
    opacity: 1;
    animation: modal-anim 0.25s forwards;
}

.modal-closed {
    display: none;
}

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  